img {
    width: 100%;
}

.alto {
    height: 70vh;
    padding: 0%;
}

#altoCarrusel {
    height: 70vh;
}

.carousel-inner .item .altoImagen {
    height: 70vh;
}

body {
    background-color: #ffffff;
}

.navbar {
    margin: 0%
}

.p1 {
    background-color: #ffffff;
}

.card-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 450px;
}

.container {
    align-items: center;
}

.col-lg-3 {
    display: flex;
}

header {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    background-color: gray;
    justify-content: center;
    border-radius: 10px;
    width: 400px;
    padding-left: 0px;
    margin: 0 auto;
}

ul li {
    list-style: none;
    margin: 15px;
}

a {
    text-decoration: none;
    padding: 0;
}

a:hover {
    color: #40041d;
}

.col-md-4 {
    background-color: #d3d3d3;
}

.col-md-3 {
    background-color: #d3d3d3;
}

.col-md-6 {
    background-color: #d3d3d3;
}

.col-12 {
    background-color: #d3d3d3;
}

.p1 {
    font-family: fantasy;
}

.card {
    background-color: #d3d3d3;
}